
@import "tailwindcss";


@theme{
    --color-primary: #161B2D;
    --color-secondary: #901D78;
}


html,
body {
    height:100%;
    width: 100vw;
    overflow-x: hidden;
    line-height: 100%;
}
html {
    scroll-behavior: smooth;
  }

body {
    font-family:"Plus Jakarta Sans", sans-serif;
    line-height: 1.6;
    font-size: 16px;
}